@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* GENERAL */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #55c5ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.heading--primary {
  display: flex;
  align-items: center;
  margin: 0 auto 0 0;
  color: #fff;
  font-style: italic;
  font-size: 24px;
  text-transform: uppercase;
  text-shadow: 0 4px 4px #2c93d4;
}

.heading--secondary {
  margin: 0 auto 40px;
  font-size: 24px;
  color: #67defd;
  text-align: center;
}

.heading--not-found {
  color: #fff;
  text-align: left;
}

/* HEADER */
.header {
  box-shadow: 0 1px 2px #48a8d9;
  background-image: linear-gradient(to bottom,#39b5fa,#2ea3f8);
}

.header__container {
  display: flex;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
  padding: 25px 0;
}

.header__logo {
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
  box-shadow: 0 1em 2em #2c93d4;
}

.header__best {
  margin-right: 50px;
  color: #fff;
  font-size: 15px;
}

.header__best span {
  font-weight: 700;
}

.btn {
  display: inline-block;
  border: none;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  transition: all .2s ease;
}

.btn--primary {
  padding: 7px 20px;
  border-top: 1px solid #74cdfb;
  border-radius: 3px;
  box-shadow: 0 1px 2px #2c93d4;
  color: #fff;
  font-size: 15px;
  text-shadow: 0 -1px 1px #a9abad;
  background-color: #2ca0f7;
  background-image: linear-gradient(to bottom,#3bb9fa,#2ca0f7);
}

.btn--primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 9px #2ca0f7;
}

.btn--primary:active {
  transform: translateY(0);
  box-shadow: 0 1px 2px #2c93d4;
}

.btn--primary:not(:last-child) {
  margin: 0 20px 0 0;
}

.btn--primary.active {
  background-color: #27a2e8;
  background-image: none;
}

.btn--secondary {
  padding: 10px 40px;
  border-top: 1px solid #fff696;
  border-bottom: 1px solid #ffce06;
  box-shadow: 0 1px 8px #2c93d4;
  font-size: 16px;
  color: #0e509e;
  text-shadow: 0 1px 1px #fff8c4;
  text-transform: uppercase;
  background-color: #ffde0e;
  background-image: linear-gradient(to bottom,#ffed2d,#ffde0e);
}

.btn--secondary:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px #2c93d4;
}

.btn--secondary:active {
  transform: translateY(0);
  box-shadow: 0 1px 8px #2c93d4;
}

.hidden {
  display: none;
}

.current--default,
.current--error {
  padding: 2px;
  border-radius: 2px;
  color: #fff;
}

.current--default {
  background-color: #5bc538;
}

.current--error {
  background-color: #f36747;
}

.passed {
  color: #5bc538;
}

.main {
  padding: 40px 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* HOME */
.home__container {
  padding: 110px 0 110px 400px;
  background: url(../img/boy.png) no-repeat center left;
  background-size: 320px 450px;
}

.home__heading {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 400;
  color: #fff;
}

.home__text {
  margin: 0 0 75px;
  font-size: 18px;
  line-height: 1.5;
  color: #bbe8ff;
}

.home__cta {
  margin: 0 0 20px;
  font-size: 18px;
  line-height: 1.5;
  color: #bbe8ff;
}

/* TRAINER */
.trainer {
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
}

.trainer__container {
  padding: 30px 45px;
  display: flex;
  column-gap: 45px;
}

.trainer__text {
  width: calc(100% - 125px);
  font-size: 21px;
  line-height: 32px;
  color: #5c5c5c;
}

.trainer__list {
  flex: 1;
  padding: 0;
  margin: 0 0 60px;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.trainer__item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-transform: uppercase;
}

.trainer__item-head {
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-size: 12px;
  font-weight: 700;
  color: #b5bbc2;
  text-transform: uppercase;
}

.trainer__item-icon {
  width: 23px;
  height: 23px;
  fill: #b5bbc2;
}

.trainer__item-stat {
  font-size: 12px;
  font-weight: 700;
  color: #67defd;
}

.trainer__item-stat span {
  font-size: 32px;
}

.trainer__btn {
  display: flex;
  align-items: center;
  border: none;
  font-size: 12px;
  font-weight: 700;
  color: #a6cc2b;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.trainer__btn-icon {
  width: 15px;
  height: 15px;
  margin: 0 5px 0 0;
  transition: all .5s ease-in-out;
}

.trainer__btn:hover > .trainer__btn-icon {
  transform: rotate(360deg);
}

/* RESULTS */
.results__container {
  padding: 0 0 0 400px;
  background: url('../img/boy-2.png') no-repeat center left;
  background-size: contain;
}

.results__heading {
  margin: 0 0 40px;
  font-size: 36px;
  font-weight: 400;
  color: #fff;
}

.results__list {
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 75px;
  margin: 0 0 40px;
}

.results__item {
  min-height: 60px;
  min-width: 200px;
  display: grid;
  grid-template-columns: 60px max-content;
  grid-template-rows: repeat(2, 30px);
  column-gap: 15px;
}

.results__item-icon {
  grid-row: 1 / -1;
  width: 60px;
  height: 60px;
}

.results__item-heading {
  grid-column: 2 / -1;
  margin: 0;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.results__item-stat {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.results__item-stat span {
  font-size: 36px;
}

.results__text {
  margin: 0 0 50px;
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
}

.result__btn {
  display: block;
  width: max-content;
  padding: 10px 40px;
  text-transform: uppercase;
}

/* LOADER */
.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;  
}

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #67defd;
  border-color: #67defd transparent #67defd transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  box-shadow: 0 1px 2px #48a8d9;
  background-image: linear-gradient(to bottom,#39b5fa,#2ea3f8);  
}

.footer__copyright {
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  text-shadow: 0 -1px 1px #a9abad;
}

@media (max-width: 1220px) {
  .container {
    max-width: 920px;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 700px;
  }

  .heading--primary {
    margin: 0;
  }

  .btn--primary:not(:last-child) {
    margin: 0;
  }

  .header__container {
    flex-direction: column;
    row-gap: 20px;
  }

  .header__best {
    margin: 0 0 20px;
    text-align: center;
    line-height: 1.6;
  }

  .trainer {
    max-width: 90vw;
  }

  .results__container {
    padding: 0 0 300px;
    text-align: center;
    background-position: bottom center;
    background-size: 30%;
  }

  .results__heading {
    margin: 0 0 20px;
    font-size: 28px;
  }

  .results__list {
    margin: 0 auto 40px;
    width: max-content;
  }

  .results__text {
    max-width: 500px;
    margin: 0 auto 25px;
  }
}

@media (max-width: 720px) {
  .header__best {
    display: none;
  }

  .home__container {
    max-width: 520px;
    padding: 40px 0 500px;
    text-align: center;
    background-position: bottom center;
  }

  .home__heading {
    font-size: 32px;
  }

  .home__text,
  .home__cta {
    font-size: 14px;
  }

  .home__text {
    margin: 0 0 20px;
  }
}

@media (max-width: 540px) {
  .container {
    max-width: 290px;
  }

  .header__container {
    flex-direction: column;
  }

  .heading--primary {
    margin: 0 0 15px;
  }

  .home__container {
    max-width: 290px;
  }

  .btn--secondary {
    padding: 10px 20px;
  }

  .results__container {
    background-size: 70%;
  }

  .results__list {
    flex-direction: column;
    column-gap: 0;
    row-gap: 40px;
  }

  .results__text {
    max-width: none;
  }
}